body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffe6e6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

h1 {
  color: #075668;
  margin-bottom: 20px;
}

.gif {
  width: 500px;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

.buttons button {
  padding: 15px 30px;
  margin: 10px;
  font-size: 38px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
}

#yesBtn {
  background-color: #074309;
  color: white;
}

#yesBtn:hover {
  background-color: #808080;
  transform: scale(1.1);
}

#noBtn {
  background-color: #a50707;
  color: white;
}

#noBtn:hover {
  background-color: #808080;
  transform: scale(1.1);
}
